  <div class="center">
    <h1 class="theme"><%= link_to "Instagram", '#' %></h1>
    <% if current_user.nil? %>
      <div class="signup">
        <%= link_to "登録する",   new_user_registration_path,   class: "btn btn-lg btn-primary" %>
      </div>
      <div class="login">
        <%= link_to "ログインする", new_user_session_path,  class:   "btn btn-lg btn-primary" %>
      </div>
      <div class="login_info">
        <p>email : example@railstutorial.org</p>
        <p>password : foobar</p>
        でログインできます
      </div>
    <% end %>
  </div>
