<% provide(:title, @user.username )%>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'layouts/stats' %>
    </section>
  </aside>
  <%= link_to 'ユーザー編集', edit_user_registration_path %>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render partial: 'microposts/microposts', collection: @microposts  %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
