<% provide(:title, 'ユーザー一覧') %>
<h3>ユーザー一覧</h3>

<%= will_paginate %>
  <ul class="users">
    <% @users.each do |user| %>
      <li>
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.username, user %>
      </li>
      <% end %>
  </ul>
<%= will_paginate %>
