<%= form_for(@micropost) do |f| %>
  <%= render 'devise/shared/error_messages', resource: f.object %>
  <span class="picture">
     <%= f.file_field :picture, accept: 'image/jpeg,image/png' %>
     <%= f.text_area :content %>
  </span>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
