<div class="micropost-show">
  <%= image_tag(@micropost.picture.url) %>
</div>
<div class="micropost-content">
  <p>
    <%= link_to "@#{@micropost.user.username}", user_path(@micropost.user) %>
    <%= @micropost.content%>
  </p>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@micropost.created_at) if @micropost.created_at %> ago.
    <% if @micropost.user == current_user %>
      <%= link_to "削除", micropost_path, method: :delete,
                                      data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</div>
