@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  padding-top: 60px;
}
/*typography*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
}
h1 {
  font-size: 10em;
  text-align: center;
  letter-spacing: 2px;
  a {
    color: rgb(24, 22, 23);
  }
}
/*form*/
input,textarea,select,uneditable-input {
  width: 100%;
  margin-bottom: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
/*body*/
.center {
  text-align: center;
}

.login_info {
  font-size: 20px;
}
/* staticpage*/
.signup {
  margin-top: 70px;
}

.login {
  margin-top: 40px;
}
.alert {
  color: red;
  font-size: 15px;
}
/* header*/
.navi{
  padding-top: 9px;
  a {
    color: rgb(24, 22, 23);
  }
}
/*footer*/
footer {
  border-top: 1px solid #eaeaea;
  bottom: 0;
  width: 100%;
  padding-right: 20px;
  text-align: center;
  p {
    float: right;
  }
  li{
    list-style: none;
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 50px;
  }
}
/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}
/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
/* microposts */
.picture {
  display: inline-block;
  width: 33.3%;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*micropost-show*/
.micropost-show {
  text-align: center;
}
.micropost-content {
  width: 800px;
  padding: 0.5em 3em;
  margin: 2em auto 3em auto;
  font-weight: bold;
  color: rgb(24, 22, 23);/*文字色*/
  background: #FFF;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
  p {
    margin: 0;
    padding: 0;
  }
}
