<header class="navbar">
  <div class="container">
    <nav class="navi">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <% if current_user.present? %>
          <li><%= link_to "My page", users_profile_path %></li>
          <li><%= link_to "ユーザー一覧", users_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
